#intro-screen,
#question-screen,
#result-screen {
  text-align: left;
}

#result-screen h2 {
  color: var(--color-secondary);
}

#question-screen .btn {
  justify-self: start;
}

#result-screen .btn {
  justify-self: start;
}
